<div class="container">
    <form [formGroup]="form" (ngSubmit)="submitForm()" *ngIf="product">
        <div class="form-group">
           
        </div>
        <div class="form-group input-group-lg col-md-6" style="margin-top: 50px;">
            <label for="inputEmail4" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
            <input class="form-control" placeholder={{product.name}} formControlName="name">
            <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched" class="alert alert-danger">
                <div *ngIf="form.controls['name'].errors?.['required']">
                Name is required.
              </div>
              <div *ngIf="form.controls['name'].errors?.['pattern']">
                Name is only be alphabetic.
              </div>
            </div>
        </div>
        <div class="form-group input-group-lg col-md-6">
            <label for="inputEmail4" class="col-sm-2 col-form-label col-form-label-lg">Code</label>
            <input class="form-control" placeholder={{product.code}} formControlName="code">
            <div *ngIf="form.controls['code'].invalid && form.controls['code'].touched" class="alert alert-danger">
                <div *ngIf="form.controls['code'].errors?.['required']">
                Code is required.
              </div>
            </div>
        </div>
        <div class="form-group input-group-lg col-md-6">
            <label for="inputEmail4" class="col-sm-2 col-form-label col-form-label-lg">Description</label>
            <input class="form-control" placeholder={{product.description}} formControlName="description">
            <div *ngIf="form.controls['description'].invalid && form.controls['description'].touched" class="alert alert-danger">
                <div *ngIf="form.controls['description'].errors?.['required']">
                Description is required.
              </div>
            </div>
        </div>
        <div class="form-group input-group-lg col-md-6">
            <label for="inputEmail4" class="col-sm-2 col-form-label col-form-label-lg">Price</label>
            <input class="form-control" placeholder={{product.price}} formControlName="price">
            <div *ngIf="form.controls['price'].invalid && form.controls['price'].touched" class="alert alert-danger">
                <div *ngIf="form.controls['price'].errors?.['required']">
                Price is required.
              </div>
              <div *ngIf="form.controls['price'].errors?.['pattern']">
                Price only be numeric.
              </div>
            </div>
        </div>
       
        <div class="form-group"  style="margin-top: 15px;">
            <button class="btn btn-success btn-lg" style="margin-right:5px;" routerLink="/home">Back To list</button>
            <button class="btn btn-danger btn-block btn-lg">Update</button>
        </div>
    </form>
</div>